.Rproj.user
.Rhistory
.RData
.Ruserdata
*.db
Outputs/Trend_MedSea_GEOM.csv
Outputs/SST/all_data_SST.csv
Outputs/SST/Cropped_CSV/*
Outputs/SST/HW_detection/*
Outputs/SST/IAD/*
Outputs/SST/Summary_per_year_per_pixel/*
Data/SST/*